<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scotbank - Spending Summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    {{> style.hbs}}
</head>
<body>
{{> navbar.hbs}}
<div class="page-container">
    <div class="full-section">
        <h1>Spending Summary</h1>
    <div class="full-section">
        <canvas id="summaryChart"></canvas>
    </div>

    <script>
        const xValues = ["Food", "Entertainment", "Grocery", "Bills", "Deposit","Payment","Withdrawal","Transfer"];
        // const yValues = [55, 49, 44, 24];
        const yValues = [{{Food}}, {{Entertainment}}, {{Grocery}}, {{Bills}}, {{Deposit}}, {{Payment}}, {{Withdrawal}}, {{Transfer}}];
        const barColors = ["#f77eae", "#584dd6", "#e5b0f4", "#af3ed8", "#f7bbf4", "#ef861c", "#ffccd0", "#5447c6"];

        new Chart("summaryChart", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Click any of the labels to filter the category of the chart"
                }
            }
        });
    </script>
    </div>
</div>


{{> footer.hbs}}
</body>
</html>

