<tbody>
  <tr>
    <td>{{this.time}}</td>
    <td>{{this.category}}</td>
    <td>{{this.id}}</td>
    <td>{{this.amount}}</td>
    <td>{{this.status}}</td>
    <td>{{this.reference}}</td>
    <td>{{this.sender}}</td>
    <td>{{this.recipient}}</td>
  </tr>
</tbody>
